

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .title{
    font-size: 1.5rem;
    margin: 6vh;
    border: 4px solid rgb(160, 1, 51);
    border-radius: 20px;
    padding: 1vh 5vw;
  }
  .title:hover{
    background-color: rgba(171, 6, 58, 0.739);
    border:none;
  }
  
  .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
  }
  .card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
  }
  .card:hover{
    transform: scale(1.03);
    transition: all 0.2s;
  }
  
  .image{
    width: 380px;
    aspect-ratio: 1/1; 
    object-fit: cover;
  }
  span{
    font-size: 1.5rem;
  }
  
  